__pycache__
*.pyc
*.db
*.log
*.csv
*.xlsx
*.pdf
archive
edpuzzle
google_classrooms
flipgrid
clock_state.txt
*secret*
./data/*
tags
venv
.vscode/
.idea/
docs
smg_links
manual_zoom_matches.py
Session.vim
NOTES.md
debug.py
dist/
build/
*.egg-info
