__pycache__
*.pyc
*.db
*.log
*.csv
*.xlsx
*.pdf
archive
edpuzzle
google_classrooms
flipgrid
clock_state.txt
*secret*
./data/*
venv
.vscode/
.idea/
smg_links
manual_zoom_matches.py
Session.vim
tags
NOTES.md
dist/
build/
*.egg-info
cache
